:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background-color: #4272ae;
  color: white;
  font-weight: 600;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:nth-child(even) {
  background-color: #4d7dbc;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:nth-child(odd) {
  background-color: #366daf;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
  background-color: #123a71;
}
