<div class="container mx-auto mt-6 p-4 bg-white text-black shadow-md rounded-lg">
  <h2 class="text-3xl font-bold text-gray-800 mb-6">Pontaje pentru: {{selectedDate}}</h2>

  <button
    (click)="showDialog()"
    class="bg-sky-600 text-white px-5 py-2 rounded-lg shadow-md hover:bg-sky-700 transition"
  >
    + Adaugă Pontaj
  </button>

  <p-dialog
    header="Adaugă Eveniment"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '40rem' }"
    styleClass="p-fluid"
  >
    <form [formGroup]="pontajForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div class="flex items-center gap-4">
        <label for="date" class="font-semibold w-32">Data</label>
        <input type="date" id="date" class="w-full border rounded px-3 py-2" formControlName="data"/>
      </div>

      <div class="flex items-center gap-4">
        <label for="oraInceput" class="font-semibold w-32">Ora Început</label>
        <input type="time" id="oraInceput" class="w-full border rounded px-3 py-2" formControlName="oraInceput"/>
      </div>

      <div class="flex items-center gap-4">
        <label for="oraSfarsit" class="font-semibold w-32">Ora Sfârșit</label>
        <input type="time" id="oraSfarsit" class="w-full border rounded px-3 py-2" formControlName="oraSfarsit"/>
      </div>

      <div class="flex items-center gap-4">
        <label for="tipMunca" class="font-semibold w-32">Tip Muncă</label>
        <select id="tipMunca" formControlName="tipMunca" class="w-full border rounded px-3 py-2">
          <option value="Norma de baza" class="text-black">Norma de bază</option>
          <option value="Proiect" class="text-black">Proiect</option>
        </select>
      </div>

      @if (pontajForm.value['tipMunca'] === 'Proiect') {
        <div class="flex items-center gap-4">
          <label for="proiect" class="font-semibold w-32">Proiect</label>
          <select id="proiect" formControlName="proiectId" class="w-full border rounded px-3 py-2">
            @for (project of projects; track $index) {
              <option [value]="project.id" class="text-black">{{ project.denumireaActivitatii }}</option>
            }
          </select>
        </div>
      }

      <button class="bg-green-600 text-white px-4 py-2 rounded-lg w-full hover:bg-green-700 transition">
        Salvează
      </button>
    </form>
  </p-dialog>

  <div class="mt-6">
    <mat-form-field class="w-full md:w-1/3 text-black">
      <mat-label>Selectează o dată</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" class="text-black">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  @if (errorMessage) {
    <p class="text-red-600 font-semibold mt-4">{{ errorMessage }}</p>
  } @else {
    <p-table [value]="pontaje" class="p-datatable-striped p-datatable-gridlines mt-6 shadow-lg rounded-lg">
      <ng-template #header>
        <tr class="bg-gray-200">
          <th class="px-4 py-2">Ora Început</th>
          <th class="px-4 py-2">Ora Sfârșit</th>
          <th class="px-4 py-2">Tip Muncă</th>
          <th class="px-4 py-2">Durata</th>
          <th class="px-4 py-2">Proiect</th>
          <th class="px-4 py-2">Action</th>
        </tr>
      </ng-template>
      <ng-template #body let-pontaj>
        <tr class="hover:bg-gray-100 transition">
          <td class="px-4 py-2">{{ pontaj.oraInceput }}</td>
          <td class="px-4 py-2">{{ pontaj.oraSfarsit }}</td>
          <td class="px-4 py-2">{{ pontaj.tipMunca }}</td>
          <td class="px-4 py-2">{{ pontaj.durata }}</td>
          <td class="px-4 py-2">{{ pontaj.proiect ? pontaj.proiect.denumireaActivitatii : "Norma de bază" }}</td>
          <td class="px-4 py-2"><button class="bg-red-400 hover:cursor-pointer hover:bg-red-500 px-2 py-2 rounded-xl transition-all ease-in-out" (click)="deletePontaj(pontaj.id)">Delete</button></td>
        </tr>
      </ng-template>
    </p-table>
  }
</div>

<p-toast></p-toast>
