<div class="flex flex-col items-center justify-center  text-center p-6">
  <h1 class="text-4xl font-bold text-sky-700 mb-4">Bine ai venit la TempoSync!</h1>
  <p class="text-lg text-sky-400 opacity-40 max-w-2xl">
    Gestionați eficient orele de muncă și proiectele echipei dvs. cu ajutorul aplicației noastre intuitive.
    Adăugați proiecte, urmăriți timpul și generați fișe de pontaj rapid și ușor.
  </p>
  <button
    class="mt-6 bg-sky-600 hover:bg-sky-700 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-200"
    routerLink="/account/login"
  >
    Începe acum
  </button>
</div>
